*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(93, 209, 110);
}

#logo {
    width: 4em;
}

#aquaponics {
    height: 18em;
    width: 30em;
    border: solid black 1px;
}

#container {
    text-align: center;
}

#rationale {
    text-align: justify;
    width: 50%;   
    margin: 4em auto;
}

#rationaleDesc {
    margin-top: 2em;
}

#objectives {
    text-align: justify;
    width: 50%;   
    margin: 4em auto;
}

#objectives li {
    margin-bottom: 1em;
}

#img_DBA{
    width: 40em;
    height: 40em;
}

#img_ERD{
    width: 40em;
    height: 40em;
}